@charset "utf-8";

// Variables
//////////////////////////////

// ======== Breakpoints ========
$bp-larger-than-mobile   : 400px !default;
$bp-larger-than-phablet  : 550px !default;
$bp-larger-than-tablet   : 750px !default;
$bp-larger-than-desktop  : 1000px !default;
$bp-larger-than-desktophd: 1200px !default;

// ======== Colors ========
$white: #fff;
$black: #000;

$primary-color: tomato;
$font-color: $black;
$link-color: $font-color;

// SNS
$facebook-blue: #3B5998;
$hatebu-blue: #008FDE;
$twitter-blue: #55ACEE;
$line-green: #00c300;
$gp-red: #dd4b39;

// Typography
$ff_default: Hind, "Helvetica Neue", Helvetica, Arial, "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

$fz_normal: 1.6em;

// Index
//////////////////////////////
// snippets: z-index: index($z, header);
$z: header, footer, content;

// Sizes
//////////////////////////////
$mw: 960px;
